<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.po.Student">
    <id column="sid" jdbcType="VARCHAR" property="sid" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="did" jdbcType="INTEGER" property="did" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="sname" jdbcType="VARCHAR" property="sname" />
    <result column="nickName" jdbcType="VARCHAR" property="nickname" />
  </resultMap>
  <sql id="Base_Column_List">
    sid, openid, did, avatar, phone, gender, sname, nickName
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_student
    where sid = #{sid,jdbcType=VARCHAR}
  </select>
    <select id="getStudentByOpenId" resultType="com.example.demo.po.Student">
      select
      <include refid="Base_Column_List" />
      from tb_student
      where openid = #{openid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_student
    where sid = #{sid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.demo.po.Student">
    insert into tb_student (sid, openid, did, 
      avatar, phone, gender, 
      sname, nickName)
    values (#{sid,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, #{did,jdbcType=INTEGER}, 
      #{avatar,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{gender,jdbcType=TINYINT}, 
      #{sname,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.po.Student">
    insert into tb_student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        sid,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="did != null">
        did,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="sname != null">
        sname,
      </if>
      <if test="nickname != null">
        nickName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="did != null">
        #{did,jdbcType=INTEGER},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=TINYINT},
      </if>
      <if test="sname != null">
        #{sname,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="insertByImport">
    insert into tb_student (sid,sname, did, phone) values (#{sid},#{sname},#{did},#{phone})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.po.Student">
    update tb_student
    <set>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="did != null">
        did = #{did,jdbcType=INTEGER},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=TINYINT},
      </if>
      <if test="sname != null">
        sname = #{sname,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickName = #{nickname,jdbcType=VARCHAR},
      </if>
    </set>
    where sid = #{sid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.po.Student">
    update tb_student
    set openid = #{openid,jdbcType=VARCHAR},
      did = #{did,jdbcType=INTEGER},
      avatar = #{avatar,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=TINYINT},
      sname = #{sname,jdbcType=VARCHAR},
      nickName = #{nickname,jdbcType=VARCHAR}
    where sid = #{sid,jdbcType=VARCHAR}
  </update>
  <update id="updateBySid">
    update tb_student
    set openid = #{openId}, avatar=#{headimgurl},gender=#{sex},nickName=#{nickname}
    where sid = #{sid}
  </update>
</mapper>